@import url('mapbox-gl/dist/mapbox-gl.css');
@import url('@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css');

body,
html {
  margin: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: tahoma, 'Courier New', Courier, monospace !important;
}
